<div class="container" id='signin' ng-controller = "SignUpCtrl">

  <form name="signinForm" ng-submit="signin()">

    <div class="row">
      <div class="input-field">
        <input placeholder="username" type='text' ng-model='user.username' required>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <input placeholder="password" type='password' ng-model='user.password' required>
      </div>
    </div>

    <h5>If don't have an account,
      <a href="#/signup">sign up here!</a>
    </h5>

    <button class="btn waves-effect waves-light">
      Sign In
      <i class="mdi-content-send left"></i>
    </button>

  </form>

</div>