<!-- <div id='signup'>
  <h1>signup</h1>
  <form name="signupForm" ng-submit='signup()'>
    <input type='text' ng-model='user.username' required="">
    <input type="password" ng-model='user.password' required="">
    <button>signup</button>
  </form>
  <a href="#/signin">Already have an account? <strong>Signin</strong> ...</a>
</div>
 -->

 <div id='signup' ng-controller = "SignUpCtrl">
   <h1>Signup to start finding new lunch companions now!</h1>
   <h2>If you already have an account, <a href="#/signin">sign in <strong>here!</strong>
   </a></h2>
   <form name="signupForm" ng-model='user.username'>
     <input type-'text' ng-model='user.username' required="">
     <input type-'password' ng-model='user.password' required="">
     <input type="radio" name="gender" value="Male" ng-model='user.username' required="">
     <input type="radio" name="gender" value="Female" ng-model='user.username'>
     <input type="radio" name="gender" value="Nonconforming" ng-model='user.username'>
     <button class=signup>Sign Up</button>
   </form>
 </div>
