 <div class = "form-inline text-center bg-primary customfront"  ng-controller = "SignUpCtrl">
   <p class= "customfrontinner"></p>
   <h1>Signup to start finding fellow KaMealeons now!</h1>
   <h2>If you already have an account, <a style="color:#CCEBFF" href="#/signin">sign in <strong>here!</strong>
   </a></h2>
   <form name="signupForm text-center " class="form-horizontal" ng-submit="signup()">
    <p class = 'myleft'>
    Username <input class="form-control" type='text' ng-model='user.username' required>
   </p>
   <p class = "myleft">
     Password <input class="form-control" type='password' ng-model='user.password' required>
   </p>
    <button class="btn btn-default">Sign Up</button>
   </form>
 </div>
