
 <div class = "form-inline text-center bg-primary customfront" div ng-controller = "SignUpCtrl">
   <p class= "customfrontinner"></p>
   <h1>Sign in to find lunch companions now!</h1>
   <h2>If you don't have an account, <a style="color:#CCEBFF"href="#/signup">sign up <strong>here!</strong>
   </a></h2>
   <form name="form-group text-center"class="form-horizontal" ng-submit='signin()'>
   <p class = "myleft">
    Username <input class="form-control" type='text' ng-model='user.username' required>
   </p>
   <p class = "myleft">
     Password <input class="form-control" type='password' ng-model='user.password' required>
   </p>
     <button class="btn btn-default">Sign In</button>
   </form>
 </div>
 
