  <div class='addevent'>
    <form name="eventForm" ng-submit="addEvent()">
      <div class="error" ng-if="invalid">You're missing something...</div>
      <div class="success" ng-if="valid">Good job!</div>
      <div class="message">Add an event</div>
      <div class="form-line-1">
        <input type= "text" ng-model="newEvent.description" placeholder='name/description'>
        <input type= "text" ng-model="newEvent.location" placeholder='location'>
      </div>
      <input type= "date" ng-model="newEvent.date">
      <input type= "time" ng-model="newEvent.time">
      <button onclick="submit">Add</button>
    </form>
  </div>
  <div id='container' ng-click='valid=false'>
  
  <div class="title">Events</div>
    <ul class='events'>
      <li class='event' ng-repeat="event in eventsList | orderBy:'datetime'">
        <div class='eventInfo'>
          <!-- <div class='creator'>{{event.creator}}</div> -->
          <button class="join" ng-click='joinEvent(event); remind(event); changeAttendingButton($index)' ng-class='button[$index]'><span class='theText'>Attend</span></button>
       <!--    <button class="join unattend" ng-click='joinEvent(event)'>Leave</button>
 -->
          <div class="event-line1">
            <span class='description'>{{ event.description }}</span>
            <span class="at" ng-click='renderMap(event.location); toggleModal()'> at 
              <span class='location'>{{ event.location }}</span>
            </span>
            <span class='fromNow'>{{ event.datetime | fromNow }}</span>
          </div>

          <div class="event-line2">
            <span class='time'>{{ event.datetime | date : 'MM/dd/yyyy @ h:mma' }}</span>
          </div>

          <span ng-click="attendees=!attendees" class='attendee-list'>
            -- Attendees --
          </span>
          
          <div class='attendee' ng-hide="attendees" ng-repeat="attendee in event.attendeeIDs">{{ attendee.username }}
          </div>
        </div>
      </li>

      <modal-dialog show='modalShown' width="600" height="450">
        <div class = "map" ng-bind-html='map'>{{ map }}</div>
      </modal-dialog>
    </ul>
  </div>
</div>



