<script>

window.once = function() {
  var ran = false
  return function() {
    if(ran) return
    debugger
    ran = true
    jQuery('.collapsible').collapsible({
      accordian: true
    })
  }
}()


</script>

<div class="row col s12"> 


  <div>
    <!-- removed controller since ng-app in index.html already loads the controller, so we were previously loading it twice. -->
    <div class="container col s6" onmouseover="once()">
      <p> CHOOSE AN EVENT HERE: </p>
      <ul class='collapsible popout' data-collapsible="accordion">
        <li class = 'event' ng-repeat="event in eventsList | orderBy:'datetime'">
          <!-- <img src='./assets/redirect_icon.png'/> -->
          <div class='description collapsible-header'>{{event.description}}</div>
          <div class='eventInfo collapsible-body'>
            <div class='creator'>{{event.creator}}</div>
            <div class='location'>{{event.location}}</div>
            <div class='date'>{{event.date}}</div>
            <div class='time'>{{event.time}}</div>
            <div class='time'>{{event.datetime | date : 'MM/dd/yyyy @ h:mma' }}</div>        
            <div class='time'>{{event.datetime | fromNow }}</div>
            <div class='attendee-list'>
              Who's Going?:
              <div class='attendee' ng-repeat="attendee in event.attendeeIDs">{{attendee.username}}
              </div>
            </div>
            <div class='task-list'>
              Items:
              <div class='task' ng-repeat="task in event.tasklist">
              {{task.name}}
            </div>
          </div>

            <button class="btn waves-effect waves-light" ng-click='joinEvent(event)'>Join this event!</button>
          </div>
        </li>
      </ul>   
    </div>
  </div>








  <div class='addevent'>
    <form name="eventForm col s6" ng-submit="addEvent()">
      <div class="input-field col s12">
        <input type= "text" ng-model = "newEvent.location">
      </div>
      <div class="input-field col s12">
        <input type= "text" ng-model = "newEvent.description">
      </div>

        <div class="col s12">
          <div class="input-field col s6">
            <input type= "date" ng-model = "newEvent.date">
          </div>
          <div class="input-field col s6">
            <input type= "time" ng-model = "newEvent.time">
          </div>   

      </div>

      <div id="todoapp" class="row">


        
          <div class="col s8">
            <input type="text" name="add-task" class='add task' placeholder="Add your item here" ng-model="taskName" ng-keyup="addTask()" style="width: 80%"/>
          </div>
          <div class="btn waves-effect waves-light col s3" style="margin-right: 25px; margin-top: 15px;" ng-click="addEvent()">Submit Event</div>
     
                  
        <ul id="todo-list" style="clear: both;">
            <li ng-repeat="task in tasklist track by $index" ng-mouseenter="task.show = true; item= 'focus'" ng-mouseleave="task.show = false; item = 'nofocus'" ng-class='item'>
              <span class="completed-{{task.completed}}">{{task.name}}</span>
              <!-- <span class="priority {{task.priority}}">{{task.priority}}</span> -->
              <span class="delete icon" title="Delete Task" ng-show="task.show" ng-click="deleteTask(tasklist.indexOf(task))"></span>
            </li>
        </ul>
      </div>      

      <h1 ng-if="invalid">
        Please fill in all of the fields.
      </h1>
    </form>
  </div>
