  <div class='addevent'>
    <form name="eventForm" ng-submit="addEvent()">
      <input type= "text" ng-model = "newEvent.location">
      <input type= "text" ng-model = "newEvent.description">
      <input type= "date" ng-model = "newEvent.date">
      <input type= "time" ng-model = "newEvent.time">

      <div id="todoapp">
 
        <div id="">
            <input type="text" name="add-task" class='add task' placeholder="Add your item here" ng-model="taskName" ng-keyup="addTask()"/>
            <!-- <select ng-model="priority">
                <option value='low'>Low</option>
                <option value='medium'>Medium</option>
                <option value='high'>High</option>
            </select> -->
        </div>
                  

        <ul id="todo-list">
            <li ng-repeat="task in tasklist track by $index" ng-mouseenter="task.show = true; item= 'focus'" ng-mouseleave="task.show = false; item = 'nofocus'" ng-class='item'>
                <span class="completed-{{task.completed}}">{{task.name}}</span>
                <!-- <span class="priority {{task.priority}}">{{task.priority}}</span> -->
                <span class="delete icon" title="Delete Task" ng-show="task.show" ng-click="deleteTask(tasklist.indexOf(task))"></span>
            </li>
        </ul>
      </div>      

      <input type="button" value="Submit Event" ng-click="addEvent()"/>
      <h1 ng-if="invalid">
        Please fill in all of the fields.
      </h1>
    </form>
  </div>
<div id='container'>
  <p> CHOOSE AN EVENT HERE: </p>
 <!-- removed controller since ng-app in index.html already loads the controller, so we were previously loading it twice. -->
 <ul class='events'>
    <li class = 'event' ng-repeat="event in eventsList | orderBy:'datetime'">
      <!-- <img src='./assets/redirect_icon.png'/> -->
      <div class='eventInfo'>
        <div class='creator'>{{event.creator}}</div>
        <div class='description'>{{event.description}}</div>
        <div class='location'>{{event.location}}</div>
        <div class='date'>{{event.date}}</div>
        <div class='time'>{{event.time}}</div>
        <div class='time'>{{event.datetime | date : 'MM/dd/yyyy @ h:mma' }}</div>        
        <div class='time'>{{event.datetime | fromNow }}</div>
        <div class='attendee-list'>
          Who's Going?:
          <div class='attendee' ng-repeat="attendee in event.attendeeIDs">{{attendee.username}}
          </div>
        </div>
        <div class='task-list'>
          Items:
          <div class='task' ng-repeat="task in event.tasklist">
          {{event.task}}
        </div>
      </div>

        <button ng-click='joinEvent(event)'>Join this event!</button>
        <!-- <a href='{{link.base_url}}/api/links/{{link.code}}'>{{link.base_url}}/{{link.code}}</a> -->
      </div>
    </li>
  </ul>
  <!-- <button class="prevPage" style="float: left" ng-click="prevPage()">Previous Page</button> -->
  <!-- <button class="nextPage" style="float: right" ng-click="nextPage()">Next Page</button> -->



</div>
</div>



