/* app css stylesheet */
a {
  text-decoration: none;
}

.addevent {
  float: right;
}

body {
  font-family: 'Roboto Slab', courier;
  max-width: 50%;
  margin: 0 auto;
}

.events {

}

form {
  margin: 1em 0;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.small {
  font-size: 0.9em;
}

.version {
  color: #666;
  font-size: small;
  margin-top: 3em;
}


#map {
  width: 45%;
  margin: auto;
}





