/* app css stylesheet */
a {
  font-weight: bold;
  text-decoration: none;
}

.addevent button {
  background: url('/client/assets/lettuce-button.png');
  height: 1.7em;
  width: 5em;
}

.addevent form {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

body {
  font-family: 'Roboto Slab', courier;
  max-width: 50%;
  margin: 0 auto;
}

.error {
  background-color: pink;
  margin: 0 auto;
  max-width: 75%;
  padding: 1em;
}

.events {

}

form {
  margin: 1em 0;
}

#signin form input,
#signup form input,
#signin form button,
#signup form button {
  display: block;
  margin: 0.5em auto;
}

form button {
  background: url('/client/assets/spam-button.png');
  background-position: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  height: 1.8em;
  width: 7em;
}

form input {
  border-radius: 3px;
  height: 1.8em;
  padding: 0 0.5em;
}

form input[type='date'] {
  width: 9em;
}

form input[type='time'] {
  width: 7.5em;
}

.form-line-1 input {
  margin-bottom: 0.5em;
  width: 76%;
}

.logo {
  background: url('/client/assets/lunchmeet.png') no-repeat;
  background-position: 20px -70px;
  height: 200px;
  margin: 0 auto;
  width: 400px;
}

#map {
  margin: auto;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

#signin,
#signup {
  text-align: center;
}

.small {
  font-size: 0.9em;
}

.version {
  color: #666;
  font-size: small;
  margin-top: 9em;
}

::-webkit-input-placeholder {
  text-align: center;
}
