/* app css stylesheet */

.addevent input {
  margin-bottom: 5px;
  max-width: 400px;
  max-width: 100%;
}

body {
  padding-top: 50px;
  background-color: #FDFAF9
}

.event-buttons {
  margin-top: 20px;
}

.event-section h4, h2 {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 10px;
}

form[name="eventForm"] input {
  max-width: 400px;
}

.lc-footer {
  text-align: center;
  margin: 20px;
}

.chatwindow {
  height: 300px;
  border: 1px solid red;
}

.event-page {
   height:110vh;
   width: 100%;
   background: linear-gradient(
      rgba(20, 0, 70, 0.50), 
      rgba(0, 0, 50, 0.80)
    ),
   url('../images/chameleon.jpg');
    background-repeat:no-repeat;
    background-size: 100%;
}

.events {

}

.customfront{
   height:80vh;
  margin-top: -1.6%;
}
.customfrontinner{
  height: 20vh;
}

h1 {
  text-align: center;
}

li.event {
  list-style: none;
  margin: 0px 0px 20px 5px;
  padding: 0px 0px 20px 20px;
  background-color: #337ab7;
  color: white;
}

.map {
  height: 400px;
  width: 400px;
  margin-bottom: 20px;
}

.navbar-fixed-top {
  margin-bottom: 50px;
}

ul.events {
  padding: 0px;
}

/*==========  Media Queries  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .addevent {
    position: relative;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .addevent {
    position: relative;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .addevent {
    position: fixed;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .addevent {
    position: fixed;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .addevent {
    position: fixed;
  }
}

.eventheading{
  color:white;
}
.chatholder{
  color:white;
}