/* app css stylesheet */
.map {
  height: 400px;
  width: 400px;
}

.events {

}

.addevent {
  float: right;
}

html body {
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 0px;
}

.lc-footer {
  width:100%;
  bottom:2px;
  text-align: center;
}
.customfront{
   height:80vh;
  margin-top: -1.6%;
}
.customfrontinner{
  height: 20vh;   
}