/* app css stylesheet */
#map-canvas {
  height: 400px;
  width: 400px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.events {

}
.addevent {
  float: right;
}

html body {
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 0px;
}

.lc-footer {
  width:100%;
  bottom:2px;
  text-align: center;
}
