
<div class = "container event-page">
  <div class = "col-md-8">
    <h1>{{event.description}}</h1>
    <p>Organized by {{event.creator}}</p>
    <p>It's happening on {{event.datetime | date : 'MM/dd/yyyy @ h:mma'}}</p>
    <p>That's {{event.datetime | fromNow}}, so get ready!</p>
    <div class='attendee-list'>
      <h2>These people are coming!</h2>
      <div class='attendee' ng-repeat="attendee in event.attendeeIDs">
        <p>{{attendee.username}}</p>
      </div>
    </div>
    <div id="map-canvas" class="map"></div>
  </div>
  <div class = "col-md-4">
    <h2>Chat with other people who are coming</h2>
    <div class="chat" ng-controller='chatCtrl'>
      <div class = "chatwindow">
        <div class = 'displaychats' ng-repeat = 'chat in chats'>
          <p>{{chat.username}}:{{chat.messagekey}}</p>
        </div>
      </div>
      <input type="text" ng-model = "textinput">
      <button type="button" ng-click='sendmessage()'>Send</button><br>
    </div>
    <button ng-click='loadEvents()'>Back to Events Page</button>
    <div class="fb-send" data-href="http://corgi.herokuapp.com/" data-colorscheme="dark">share our page</div>
  </div>
</div>
