
<div class = "bg-info container event-page">
  <div class = "col-md-8 eventheading">
      
    <h1>{{event.description}}</h1>
    <div class="eventinfo">
      <p>Organized by {{event.creator}}</p>
      <p>It's happening on {{event.datetime | date : 'MM/dd/yyyy @ h:mma'}}</p>
      <p>That's {{event.datetime | fromNow}}, so get ready!</p>
    </div>
    <div class='attendee-list'>
      <h2>These people are coming!</h2>
      <div class='peopleholder'>
        <div class='attendee' ng-repeat="attendee in event.attendeeIDs ">
          <div class="people" >{{attendee.username}}</div>
        </div>
      </div>
    </div>
    <h2>Meet us at {{event.location}}!</h2>
    <div id="map-canvas" class="map "></div>
  </div>
  <div class = "col-md-4 chatholder margenbottom">
    <h2>Chat with other people who are coming</h2>
    <div class="chat" ng-controller='chatCtrl'>
      <div class = "chatwindow">
        <div class = 'displaychats' ng-repeat = 'chat in chats'>
          <p class="bg-primary chats"> <b> {{chat.username}} </b>: {{chat.messagekey}}</p>
        </div>
      </div>
      <input class="form-control  marginbottom" type="text" ng-model = "textinput">
      <button class="btn btn-info marginbottom" type="button" ng-click='sendmessage()'>Send</button><br>
    </div>
    <div class="fb-send margenbottom" data-href="http://corgi.herokuapp.com/" data-colorscheme="dark">share on fb</div>
    <button class="btn btn-default  marginbottom" ng-click='loadEvents()'>Back to Events Page</button>
  </div>
</div>
