<div id='container'>
 <ul ng-controller = "eventsController">
    <li class = 'event' ng-repeat="event in eventsList | orderBy:'time'">
      <!-- <img src='./assets/redirect_icon.png'/> -->
      <div class='eventInfo'>
        <div class='creator'>{{event.creator}}</div>
        <div class='description'>{{event.description}}</div>
        <div class='location'>{{event.location}}</div>
        <div class='date'>{{event.date}}</div>
        <div class='time'>{{event.time}}</div>
        <!-- <a href='{{link.base_url}}/api/links/{{link.code}}'>{{link.base_url}}/{{link.code}}</a> -->
      </div>
    </li>
  </ul>
  <button class="prevPage" style="float: left" ng-click="prevPage()">Previous Page</button>
  <button class="nextPage" style="float: right" ng-click="nextPage()">Next Page</button>
</div>